<!DOCTYPE html>
<html>
    <head>
        <% include head %>
    </head>
    <body>
        <% include nav %>

        <div class="faq-title">
            <div class="content">
                <div class="text">F.A.Q.</div>
            </div>
        </div>
        <br><br>
        <div class="faq">
            <div class="content">
                <br><br>

                <div class="section">
                    <div class="text">
                        <div class="question">
                            Why $1,000,000?
                        </div>
                        <br>
                        <div class="answer">
                            A McDonald’s franchise represents a considerable investment-- with the potential for considerable return. <br>
                            The McMass project is to creating a new, entrepreneurial, paradigm to revolutionize churches. Our fundraising goal of $1,000,000 will go to covering franchising and development costs for our pilot partner church.
                             
                        </div>
                    </div>
                    <div class="number"><div>1</div></div>
                </div>
                <br><br><br><br>

                <div class="section">
                    <div class="text">
                        <div class="question">
                            Why would a church want to have a McDonald’s?
                        </div>
                        <br>
                        <div class="answer">
                            Churches in modern times suffer from a number of unique problems. In many places across America church attendance is in decline, and churches themselves are even closing down. Churches need to make sure they are financially stable, and need to engage with the larger community around them. A McDonald’s franchise represents an opportunity not only for revenue, but also to draw a wider audience to the church, reinforcing the church as a gathering point.
                             
                        </div>
                    </div>
                    <div class="number"><div>2</div></div>
                </div>
                <br><br><br><br>

                <div class="section">
                    <div class="text">
                        <div class="question">
                            Why would a McDonald’s franchise do well in a church?
                        </div>
                        <br>
                        <div class="answer">
                            Churches are amazing buildings, and their power to add to a business is immense. Churches are often centrally located relative to their communities, enhancing a McDonald’s already considerable audience draw. Traditionally, the space has gravity, ambience, and architecture that make for highly desirable real estate.
                        </div>
                    </div>
                    <div class="number"><div>3</div></div>
                </div>
                <br><br><br><br>

                <div class="section">
                    <div class="text">
                        <div class="question">
                            Why McDonald’s?
                        </div>
                        <br>
                        <div class="answer">
                            McDonald’s is a brand that extends into the community, and has always operated on a franchise model. With programs such as the Ronald McDonald House, and the iconic playhouses, McDonald’s brings people together and creates experiences. To revitalize churches, we need only the best and most recognizable brand partnership.
                        </div>
                    </div>
                    <div class="number"><div>4</div></div>
                </div>
                <br><br><br><br>

                <div class="section">
                    <div class="text">
                        <div class="question">
                            Is there historical precedent for this kind of venture?
                        </div>
                        <br>
                        <div class="answer">
                            Yes! There is a rich history of religious orders using culinary businesses in support of their activities. Perhaps most famous are the Trappist monk breweries, whose beer allows the monasteries to provide for themselves. We want to bring the idea of the self-sustaining church into the 21st century, to help churches prosper and grow.
                        </div>
                    </div>
                    <div class="number"><div>5</div></div>
                </div>
                <br><br><br><br>

                <div class="section">
                    <div class="text">
                        <div class="question">
                            What church will you partner with?
                        </div>
                        <br>
                        <div class="answer">
                            The McMass project is currently looking for a partner church to establish the first McDonald’s Church. We want to set a precedent for the future of churches, and are looking for a driven, entrepreneurial church. We are running an Indiegogo fundraising campaign to facilitate this relationship. Interested? <a href="mailto: themcmassproject@gmail.com">Contact us!</a>
                        </div>
                    </div>
                    <div class="number"><div>6</div></div>
                </div>
                <br><br><br><br>

                <div class="section">
                    <div class="text">
                        <div class="question">
                            Is the McMass Project associated with a particular denomination?
                        </div>
                        <br>
                        <div class="answer">
                            No. We at the McMass project believe that innovation is key to the success of all churches, regardless of affiliation, and our top priority is to demonstrate our model so that other churches can follow suit. Our mission is to help the word of God find it’s way back to the heart of our communities.
                        </div>
                    </div>
                    <div class="number"><div>7</div></div>
                </div>
                <br><br><br><br>

                <div class="section">
                    <div class="text">
                        <div class="question">
                            Who are you?
                        </div>
                        <br>
                        <div class="answer">
                            The McMass project was formed by several members of Lux Dei Design, a Christian design consultancy, who had a vision for the future of churches. We saw so many churches, grand old buildings, fallen into disuse or empty for significant portions of each week. How could we solve this “vacant church problem?” We realized that a design approach--an entrepreneurial approach--had the potential to revolutionize how churches engage with the world. We want to see churches return to the center of everyday life, and the way to engage with our modern culture is through innovation.
                            
                        </div>
                    </div>
                    <div class="number"><div>8</div></div>
                </div>
                <br><br><br><br>



            </div>
        </div>

        <% include social %>

        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
