<!DOCTYPE html>
<html>
    <head>
        <% include head %>
    </head>
    <body>
        <% include nav %>

        <div class="faq-title">
            <div class="content">
                <div class="text">F.A.Q.</div>
            </div>
        </div>
        <br><br>
        <div class="faq">
            <div class="content">
                <br><br>

                <div class="section">
                    <div class="text">
                        <div class="question">
                           We want to revitalize Churches as centers for conversation and cultural engagement by putting a McDonald’s franchise in a church.
                        </div>
                        <br>
                        <div class="answer">
                           We want to revitalize Churches as centers for conversation and cultural engagement by putting a McDonald’s franchise in a church. We want to revitalize Churches as centers for conversation and cultural engagement by putting a McDonald’s franchise in a church.
                        </div>
                    </div>
                    <div class="number"><div>1</div></div>
                </div>
                <br><br><br><br>

                <div class="section">
                    <div class="text">
                        <div class="question">
                           We want to revitalize Churches as centers for conversation and cultural engagement by putting a McDonald’s franchise in a church.
                        </div>
                        <br>
                        <div class="answer">
                           We want to revitalize Churches as centers for conversation and cultural engagement by putting a McDonald’s franchise in a church. We want to revitalize Churches as centers for conversation and cultural engagement by putting a McDonald’s franchise in a church.
                        </div>
                    </div>
                    <div class="number"><div>2</div></div>
                </div>
                <br><br><br><br>

                <div class="section">
                    <div class="text">
                        <div class="question">
                           We want to revitalize Churches as centers for conversation and cultural engagement by putting a McDonald’s franchise in a church.
                        </div>
                        <br>
                        <div class="answer">
                           We want to revitalize Churches as centers for conversation and cultural engagement by putting a McDonald’s franchise in a church. We want to revitalize Churches as centers for conversation and cultural engagement by putting a McDonald’s franchise in a church.
                        </div>
                    </div>
                    <div class="number"><div>3</div></div>
                </div>
                <br><br><br><br>

            </div>
        </div>

        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
