<title>The McMass Project</title>

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="mcmassproject" />

<meta name="og:description" content="We want to revitalize Churches as centers for conversation and cultural engagement by putting a McDonald’s franchise in a church. Support our Indiegogo-- Help us build the McDonald's Church!" />
<meta name="og:title" content="The McMass Project - Solving The Vacant Church Problem" />
<meta name="og:site_name" content="The McMass Project" />
<meta name="og:url" content="http://www.mcmass.com" />
<meta name="og:image" content="/media/social_banner.png" />
<meta name="og:image:width" content="1200px" />
<meta name="og:image:height" content="650px" />


<link rel='stylesheet' href='/css/style.css' />
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>

<script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56750084-1', 'auto');
      ga('send', 'pageview');
</script>
