<!DOCTYPE html>
<html>
    <head>
        <% include head %>
    </head>
    <body>
        <h1 style="display:none">The McMass Project</h1>
        <h2 style="display:none">Let's Build The McDonald's Church</h1>
        <header>
            <div class="top">
                <div class="content">

                    <div class="top-right">
                        <div class="top-video-frame">
                            <br><br><br><br>
                            <img src="media/video-play.png" width="100px" height="100px">
                            <br><br>
                            <div class="video-text">
                                THE CHURCH NEEDS INNOVATION<br>
                                LETS BUILD THE McDONALD'S CHURCH
                            </div>
                        </div>
                    </div>

                    <div class="top-left">
                        <div class="top-logo">
                            <img src="/media/logo_white.png">
                        </div>
                        <br>
                        <div class="top-description">

                           We want to revitalize Churches as centers for conversation and cultural engagement by putting a McDonald’s franchise in a church.

                        </div>
                    </div>
                    <br><br>

                    <div class="scroll-down">
                        <img src="/media/scroll-down.png">
                    </div>
                    <br>
                    
                </div> 
            </div>        

            <% include nav %>

        </header>

        <div class="video-overlay">
            <div class="video-module">
                <!--<iframe id="video-embed" src="//www.youtube.com/embed/aKU-sp6ikEI?controls=0&modestbranding=1&rel=0&showinfo=0&theme=light" frameborder="0" allowfullscreen></iframe>-->
                <iframe id="video-embed"  src="//player.vimeo.com/video/112952031" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                <div class="video-support" onClick="window.open('http://www.indiegogo.com/projects/the-mcmass-project', '_blank')">
                    SUPPORT OUR INDIEGOGO CAMPAIGN! 
                </div>
                
            </div>
        </div>

        <div class="money">
            <div class="content">
                <br>
                <div class="amount">$1,000,000</div>
                <div class="fact">
                    WE NEED 1 MILLION DOLLARS TO BUY A MCDONALD'S FRANCHISE
                </div>
                <br>
                <div class="buttons">
                    <div class="donate" onClick="window.open('http://www.indiegogo.com/projects/the-mcmass-project', '_blank')">
                        <img src="media/indiegogo_logo.png" width="148px" height="21px">
                    </div>
                    <div class="share">
                        <div class="options">
                            <div class="tumblr">
                                <img src="media/social-tumblr.png" width="30px" height="30px">
                            </div><!--
                            --><div class="facebook">
                                <img src="media/social-facebook.png" width="30px" height="30px">
                            </div><!--
                            --><div class="twitter">
                                <img src="media/social-twitter.png" width="30px" height="30px">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <br><br><br>

        <div class="problem">
            <div class="content">
                <br><br>
                <img src="media/infographic01.png" class="infographic" height="718px">
                <br><br>
            </div>
        </div>
            
        <br><br><br>

        <div class="different">
            <div class="content">
                <br>
                IT'S TIME FOR CHURCHES TO INNOVATE <br>
                IT'S TIME TO <br>
                <div class="main">PRAY DIFFERENT</div>
                <br>
            </div>
        </div>

        <div class="solution">
            <div class="content">
                <br>
                <div class="solution-title">THE SOLUTION</div>
                <img src="media/solution.png" width="800" height"">
                <br>
                <div class="solution-title">TO BUILD McDONALD'S IN CHURCHES</div>
                <br>
            </div>
        </div>

        <br><br><br>

        <div class="problem">
            <div class="content">
                <br><br>
                <img src="media/infographic02.png" class="infographic" height="615px">
                <br>
                <br>
                <br>
                <div class="problem-disclaimer">
                    see:<a href="http://www.aboutmcdonalds.com/mcd/our_company.html"> http://www.aboutmcdonalds.com/mcd/our_company.html</a>, <a href="http://www.rmhc.org/our-relationship-with-mcdonalds">http://www.rmhc.org/our-relationship-with-mcdonalds</a>
                </div>
                <br>
            </div>
        </div>

        <br><br><br>

        <div class="conclusion">
            <div class="content">
                <br><br>
                <div class="conclusion-title">
                    CHURCHES AND McDONALD'S <br> ARE PERFECT PARTNERS
                </div>
                <br><br>

                <div class="right">
                    <img src="media/mcdonalds_icon.png" width="200px" height="200px">
                    <br>
                    <div class="desc"> 
                        McDonald’s are profitable, and draw constant crowds, but need great, centrally-located, spaces.
                    </div>
                </div>

                <div class="left">
                    <img src="media/church_icon.png" width="200px" height="200px">
                    <br>
                    <div class="desc"> 
                        Churches are community centers, but need to attract people and support themselves financially.
                    </div>
                </div>

                <br><br>

                <div class="conclusion-desc">
                    Together, a McDonald’s Church will support itself <br> and become increasingly active in its community.
                </div>

                <br><br>
            </div>
        </div>

        <div class="indiegogo">
            <div class="content">
                <br><br><br><br>
                <img src="media/indiegogo_logo.png" width="148px" height="21px">
                <br><br><br>
                <div class="text">
                    WE NEED <strong>ONE MILLION DOLLARS</strong> <br> TO START OUR <strong>FIRST McMASS CHURCH</strong>
                </div>
                <br><br>
                <div class="button" onClick="window.open('http://www.indiegogo.com/projects/the-mcmass-project', '_blank')">
                    SUPPORT US NOW
                </div>
                <br><br>
                <div class="text yellow">
                    <strong> LETS REINVENT CHURCHES!</strong>
                </div>
                <br><br><br><br>
            </div>
        </div>

        <div class="nominate">
            <div class="content">
                WANT TO NOMINATE A CHURCH? <a href="mailto:themcmassproject@gmail.com" target="_blank">EMAIL US!</a>

            </div>
        </div>

        <div class="subscribe">
            <div class="subscribe-success success">
                THANKS!
            </div>
            <div class="content">
                <br><br><br><br>
                <div class="form">
                    <input type="text" placeholder="SUBSCRIBE HERE!">
                    <div class="submit">></div>
                </div>
                
                <br><br><br><br>
            </div>
        </div>

        <% include social %>
        
        <footer>
        </footer>

        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
