<!DOCTYPE html>
<html>
    <head>
        <title>The McMass Project</title>
        <link rel='stylesheet' href='/css/style.css' />
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <div class="top">
                <div class="content">

                    <div class="top-right">
                        <div class="top-video-frame">
                            <iframe width="100%" height="430" src="//www.youtube.com/embed/50GQjUZ4P3M?list=RD7PCkvCPvDXk" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="top-left">
                        <div class="top-logo">
                            <div class="top-logo-a">The</div>
                            <div class="top-logo-b">McMASS</div> 
                            <div class="top-logo-c">PROJECT</div>
                        </div>
                        <br>
                        <div class="top-description">

                            The McMass project wants to revitalize Churches as centers for conversation and cultural engagement.
                            <br><br>
                            We are currently seeking partners for a beta test of our concept, to establish a McDonald’s franchise in a church.
                        </div>
                    </div>
                    
                </div> 
            </div>        

            <div class="indiegogo-banner">
                <div class="content">
                    <div class="indiegogo-text">SUPPORT US ON INDIEGOGO</div><!--
                    --><div class="indiegogo-triangle"></div>
                </div>
                <div class="left"></div>
            </div>

            <nav>
                <div class="content">
                    <div class="navlink-right">DONATE NOW</div>
                    <div class="navlink-left">McMASS PROJECT</div>
                </div>
            </nav>

        </header>

        <br><br><br><br>

        <div class="problem">
            <div class="content">
                <div class="title">THE PROBLEM</div>
                <br>

                <div class="problem-one problem-wrapper">
                    <div class="problem-number">1</div>
                    <div class="problem-image problem-image-one"></div>
                    <div class="problem-description">
                        Across the world, Church attendance has been in decline. The Church once led the way, shaping societies and providing guidance, but increasingly has fallen away fromt the center of cultural consciousness.
                        <br><br>
                        Churches need to reintegrate with popular culture and the surrounding community, and bring the message of Jesus’ love back to the forefront.
                    </div>
                </div>

                <div class="problem-two problem-wrapper">
                    <div class="problem-number">2</div>
                    <div class="problem-image problem-image-two"></div>
                    <div class="problem-description">
                        Churches are beautiful buildings, from a rich architectural tradition, and even the buildings themselves signify the power of God. Yet churches are underutilized spaces, filled during services, but too often all but empty.
                        <br><br>
                        We need to get people back into churches, to revitalize the unused space, and to  bring people and energy to the church as a whole.
                    </div>
                </div>

                <div class="problem-three problem-wrapper">
                    <div class="problem-number">3</div>
                    <div class="problem-image problem-image-three"></div>
                    <div class="problem-description">                        
                        We can view these as problems, or we can view them as opportunities to try something new. 
                        <br><br>
                        One of the greatest impediments to establishing franchise is coming up with ideal real estate. Imagine a franchise located in a church-- a widely recognize brand, an established piece of popular culture, paired with an unparalleled space.
                    </div>
                </div>

            </div>
        </div>
            
        <br><br><br><br>

        <div class="solution">
            <div class="solution-top">
                <br><br>
                <div class="content">
                    <div class="title">THE SOLUTION</div>
                    <div class="solution-diagram-set">

                        <div class="solution-diagram">
                            <img src="/media/solution-one.png" class="solution-diagram-a solution-diagram-image"/>
                            <div class="solution-label">
                                McDonalds
                            </div>
                        </div>

                        <div class="solution-diagram">
                            <img src="/media/solution-two.png" class="solution-diagram-b solution-diagram-image"/>
                            <div class="solution-label">
                            </div>
                        </div>

                        <div class="solution-diagram">
                            <img src="/media/solution-three.png" class="solution-diagram-c solution-diagram-image"/>
                            <div class="solution-label">
                                Vacant Church
                            </div>
                        </div>

                    </div> 
                </div>
            </div>
            
            <div class="solution-bottom">
                <div class="content">
                    <br><br><br>
                    <div class="solution-description">
                        Let’s solve the vacant church problem.
                        <br><br>
                        We created the McMass project because we want to see our churches continue to thrive in modern culture. By building a McDonalds, a church not only gains valuable supplementary income that can be put towards outreach programs,development, and charity, but also situates itself within the very day life of the community. 
                        <br><br>
                        Think of the opportunities this presents: to be able to reach people everyday, outside of formal worship. The McMass project is the chance to establish the real-world equivalent of social media presence.
                    </div>
                </div>
            </div>
        </div>

        <br><br>

        <div class="indiegogo">
            <div class="content">
                <div class="title">INDIEGOGO</div>

                <div class="indiegogo-right">
                    <div class="indiegogo-description">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis. 
                        <br><br>
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis volup, omnis dolor repellendus.
                    </div>
                    <br>
                    <div class="indiegogo-action">SUPPORT US</div>
                </div>

                <div class="indiegogo-left">
                    <div class="indiegogo-image"></div>
                </div>

            </div>
        </div>

        <br><br><br><br>

        <div class="quote">
            <div class="content">
                <div class="quote-main">
                    Et harum quidem rerum facilis est et expedita distinctio
                </div>
                <div class="quote-secondary">
                    - Matthew 6:8
                </div>
            </div>
        </div>

        <br><br><br><br>

        <div class="social">
            <div class="content">

                <div class="social-box social-box-twitter">
                    <div class="social-tag">
                        Want to help spread the Word of God?
                    </div>
                    <div class="social-icon">
                        <img src="/media/social-twitter.png" />
                    </div>
                    <div class="social-action">
                        Tweet our cause
                    </div>
                </div>

                <div class="social-box social-box-facebook">
                    <div class="social-tag">
                        Show us your support for Jesus!
                    </div>
                    <div class="social-icon">
                        <img src="/media/social-facebook.png" />
                    </div>
                    <div class="social-action">
                        Like our facebook
                    </div>
                </div>

                <div class="social-box social-box-email">
                    <div class="social-tag">
                        Think you can help our congregation?
                    </div>
                    <div class="social-icon">
                        <img src="/media/social-email.png" />
                    </div>
                    <div class="social-action">
                        EMAIL US 
                    </div>
                </div>

            </div>
        </div>

        <br><br><br><br>

        <footer>
        </footer>

        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
