<!DOCTYPE html>
<html>
    <head>
        <title>The McMass Project</title>
        <link rel='stylesheet' href='/css/style.css' />
        <link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <header>
            <div class="top">
                <div class="content">

                    <div class="top-right">
                        <div class="top-video-frame">
                            <iframe width="100%" height="430" src="//www.youtube.com/embed/50GQjUZ4P3M?list=RD7PCkvCPvDXk" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="top-left">
                        <div class="top-logo">
                            <div class="top-logo-a">The</div>
                            <div class="top-logo-b">McMASS</div> 
                            <div class="top-logo-c">PROJECT</div>
                        </div>
                        <br>
                        <div class="top-description">

                            Bitchin Rad. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            <br><br> 
                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                        </div>
                    </div>
                    
                </div> 
            </div>        

            <div class="indiegogo-banner">
                <div class="content">
                    <div class="indiegogo-text">SUPPORT US ON INDIEGOGO</div><!--
                    --><div class="indiegogo-triangle"></div>
                </div>
                <div class="left"></div>
            </div>

            <nav>
                <div class="content">
                    <div class="navlink-right">DONATE NOW</div>
                    <div class="navlink-left">McMASS PROJECT</div>
                </div>
            </nav>

        </header>

        <br><br><br><br>

        <div class="problem">
            <div class="content">
                <div class="title">THE PROBLEM</div>
                <br>

                <div class="problem-one problem-wrapper">
                    <div class="problem-number">1</div>
                    <div class="problem-image problem-image-one"></div>
                    <div class="problem-description">
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo vitae dicta sunt explicabo.
                        <br><br> 
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem, qui dolorem ipsum quia dolor sit amet
                    </div>
                </div>

                <div class="problem-two problem-wrapper">
                    <div class="problem-number">2</div>
                    <div class="problem-image problem-image-two"></div>
                    <div class="problem-description">
                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure.
                    </div>
                </div>

                <div class="problem-three problem-wrapper">
                    <div class="problem-number">3</div>
                    <div class="problem-image problem-image-three"></div>
                    <div class="problem-description">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. 
                        <br><br>
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis volup, omnis dolor repellendus.
                    </div>
                </div>

            </div>
        </div>
            
        <br><br><br><br>

        <div class="solution">
            <div class="solution-top">
                <br><br>
                <div class="content">
                    <div class="title">THE SOLUTION</div>
                    <div class="solution-diagram-set">

                        <div class="solution-diagram">
                            <img src="/media/solution-one.png" class="solution-diagram-a solution-diagram-image"/>
                            <div class="solution-label">
                                McDonalds
                            </div>
                        </div>

                        <div class="solution-diagram">
                            <img src="/media/solution-two.png" class="solution-diagram-b solution-diagram-image"/>
                            <div class="solution-label">
                            </div>
                        </div>

                        <div class="solution-diagram">
                            <img src="/media/solution-three.png" class="solution-diagram-c solution-diagram-image"/>
                            <div class="solution-label">
                                Vacant Church
                            </div>
                        </div>

                    </div> 
                </div>
            </div>
            
            <div class="solution-bottom">
                <div class="content">
                    <br><br><br>
                    <div class="solution-description">
                        But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure. And expound the actual teachings of the great explorer of the truth. 
                        <br><br>
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis. 
                        <br><br>
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis volup, omnis dolor repellendus.

                    </div>
                </div>
            </div>
        </div>

        <br><br>

        <div class="indiegogo">
            <div class="content">
                <div class="title">INDIEGOGO</div>

                <div class="indiegogo-right">
                    <div class="indiegogo-description">
                        At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis. 
                        <br><br>
                        Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis volup, omnis dolor repellendus.
                    </div>
                    <br>
                    <div class="indiegogo-action">SUPPORT US</div>
                </div>

                <div class="indiegogo-left">
                    <div class="indiegogo-image"></div>
                </div>

            </div>
        </div>

        <br><br><br><br>

        <div class="quote">
            <div class="content">
                <div class="quote-main">
                    Et harum quidem rerum facilis est et expedita distinctio
                </div>
                <div class="quote-secondary">
                    - Matthew 6:8
                </div>
            </div>
        </div>

        <br><br><br><br>

        <div class="social">
            <div class="content">

                <div class="social-box social-box-twitter">
                    <div class="social-tag">
                        Want to help spread the Word of God?
                    </div>
                    <div class="social-icon">
                        <img src="/media/social-twitter.png" />
                    </div>
                    <div class="social-action">
                        Tweet our cause
                    </div>
                </div>

                <div class="social-box social-box-facebook">
                    <div class="social-tag">
                        Show us your support for Jesus!
                    </div>
                    <div class="social-icon">
                        <img src="/media/social-facebook.png" />
                    </div>
                    <div class="social-action">
                        Like our facebook
                    </div>
                </div>

                <div class="social-box social-box-email">
                    <div class="social-tag">
                        Think you can help our congregation?
                    </div>
                    <div class="social-icon">
                        <img src="/media/social-email.png" />
                    </div>
                    <div class="social-action">
                        EMAIL US 
                    </div>
                </div>

            </div>
        </div>

        <br><br><br><br>

        <footer>
        </footer>

        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
