<nav>
    <div class="content">
        <div class="navlink-right donate">SUPPORT US</div>
        <div class="navlink-left home">McMASS</div>
        <div class="navlink-left faq">FAQ</div>
    </div>
</nav>
