<nav>
    <div class="content">
        <div class="navlink-right donate" onClick="window.open('http://www.indiegogo.com/projects/the-mcmass-project')">SUPPORT US</div>
        <div class="navlink-left home">McMASS</div>
        <div class="navlink-left faq">FAQ</div>
        <div class="navlink-left shop">SHOP</div>
    </div>
</nav>
