<!DOCTYPE html>
<html>
    <head>
        <% include head %>
    </head>
    <body>
        <% include nav %>
        <div class="shop-title">
            <div class="content">
                <br><br>
                <div class="text">
                    BACK US ON INDIEGOGO!
                </div>
                <br><br>
            </div>
        </div>
        <div class="merch">
            <div class="content">
                <div class="shirt">
                    <br><br><br>
                    <img class="image" src="media/shirt_red_front.png">
                    <br><br><br>
                    <div class="options">
                        <div class="red">
                            <img class="thumbnail selected" src="media/shirt_red_front.png" data-handle="red-front">
                            <img class="thumbnail" src="media/shirt_red_back.png" data-handle="red-back">
                        </div><!--
                        --><div class="white">
                            <img class="thumbnail" src="media/shirt_white_front.png" data-handle="white-front">
                            <img class="thumbnail" src="media/shirt_white_back.png" data-handle="white-back">
                        </div>
                    </div>
                    <br><br><br>
                    <div class="buy donate">
                        BUY ON INDIEGOGO
                    </div>
                    <br><br><br>
                </div>
                
            </div>
        </div>

        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
