<!DOCTYPE html>
<html>
    <head>
        <% include head %>
    </head>
    <body>
        <% include nav %>
        <div class="shop-title">
            <div class="content">
                <br><br>
                <div class="text">
                    BACK US ON INDIEGOGO!
                </div>
                <br><br>
            </div>
        </div>
        <div class="merch">
            <div class="content">
                <div class="shirt">
                    <br><br><br>
                    <img class="image" src="media/shirt_red_front.png">
                    <br><br><br>
                    <div class="options">
                        <div class="red">
                            <img class="thumbnail selected" src="media/shirt_red_front.png" data-handle="red-front">
                            <img class="thumbnail" src="media/shirt_red_back.png" data-handle="red-back">
                        </div><!--
                        --><div class="white">
                            <img class="thumbnail" src="media/shirt_white_front.png" data-handle="white-front">
                            <img class="thumbnail" src="media/shirt_white_back.png" data-handle="white-back">
                        </div>
                    </div>
                    <br><br><br>
                    <div class="text">
                        <div class="main">McMASS T-SHIRT</div><br>
                        <div class="secondary">
                            At $10, you're bringing the Hour of Code to over 300 students! It only costs 3 cents/student impacted. For each dollar you give, at least 1 student will see your name on his or her course-completion certificate (as the donor who funding their learning).
                        </div>
                    </div>
                    <br><br><br>
                    <div class="buy donate">
                        BUY ON INDIEGOGO
                    </div>
                    <br><br><br>
                </div>
                <br>
                <hr>
                <br>
                <div class="hat">
                    <br><br><br>
                    <img class="image" src="media/hat_red_front.png">
                    <br><br><br>
                    <div class="options">
                        <div class="red">
                            <img class="thumbnail selected" src="media/hat_red_front.png" data-handle="hat-front">
                            <img class="thumbnail" src="media/hat_red_side.png" data-handle="hat-side">
                        </div>
                    </div>
                    <br><br><br>
                    <div class="text">
                        <div class="main">McMASS SNAPBACKS</div><br>
                        <div class="secondary">
                            At $10, you're bringing the Hour of Code to over 300 students! It only costs 3 cents/student impacted. For each dollar you give, at least 1 student will see your name on his or her course-completion certificate (as the donor who funding their learning).
                        </div>
                    </div>
                    <br><br><br>
                    <div class="buy donate">
                        BUY ON INDIEGOGO
                    </div>
                    <br><br><br>
                </div>
                
            </div>
        </div>

        <% include social %>

        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
