<!DOCTYPE html>
<html>
    <head>
        <% include head %>
    </head>
    <body>
        <% include nav %>
        <div class="shop-title">
            <div class="content">
                <br><br>
                <div class="text">
                    BACK US ON INDIEGOGO!
                </div>
                <br><br>
            </div>
        </div>
        <div class="merch">
            <div class="content">
                <div class="shirt">
                    <br><br><br>
                    <img class="image" src="media/shirt_red_front.png">
                    <br><br><br>
                    <div class="options">
                        <div class="red">
                            <img class="thumbnail selected" src="media/shirt_red_front.png" data-handle="red-front">
                            <img class="thumbnail" src="media/shirt_red_back.png" data-handle="red-back">
                        </div><!--
                        --><div class="white">
                            <img class="thumbnail" src="media/shirt_white_front.png" data-handle="white-front">
                            <img class="thumbnail" src="media/shirt_white_back.png" data-handle="white-back">
                        </div>
                    </div>
                    <br><br><br>
                    <div class="text">
                        <div class="main">McMASS T-SHIRT</div><br>
                        <div class="secondary">
                            Become a core contributer to the McMass mission, and receive the Official McMass T-Shirt, printed on super soft poly-cotton for comfort and style. We will reach out regarding sizing information once all orders are in.
                        </div>
                    </div>
                    <br><br><br>
                    <div class="buy donate" onClick="window.open('http://www.indiegogo.com/projects/the-mcmass-project', '_blank')">
                        BUY ON INDIEGOGO
                    </div>
                    <br><br><br>
                </div>
                <br>
                <hr>
                <br>
                <div class="hat">
                    <br><br><br>
                    <img class="image" src="media/hat_red_front.png">
                    <br><br><br>
                    <div class="options">
                        <div class="red">
                            <img class="thumbnail selected" src="media/hat_red_front.png" data-handle="hat-front">
                            <img class="thumbnail" src="media/hat_red_side.png" data-handle="hat-side">
                        </div>
                    </div>
                    <br><br><br>
                    <div class="text">
                        <div class="main">McMASS SNAPBACKS</div><br>
                        <div class="secondary">
                           For true believers in the McMass, we have the ultimate in McMass Project swag. These are high-quality snapback hats featuring our logo in emboidery. 
                        </div>
                    </div>
                    <br><br><br>
                    <div class="buy donate" onClick="window.open('http://www.indiegogo.com/projects/the-mcmass-project', '_blank')">
                        BUY ON INDIEGOGO
                    </div>
                    <br><br><br>
                </div>
                
            </div>
        </div>

        <% include social %>

        <script src="/js/jquery-2.1.1.min.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>
