<div class="social">
    <div class="content">
        <br><br><br><br>
        <div class="social-box">
            <div class="tumblr">
                <img class="social-icon" src="media/social-tumblr.png" width="24px" height="24px">
                <div class="social-name"> TUMBLR </div>
            </div>
            <div class="facebook">
                <img class="social-icon" src="media/social-facebook.png" width="24px" height="24px">
                <div class="social-name"> FACEBOOK </div>
            </div>
            <div class="twitter">
                <img class="social-icon" src="media/social-twitter.png" width="24px" height="24px">
                <div class="social-name"> TWITTER </div>
            </div>
        </div>
        <br><br>
        <div class="social-text">
            <div class="main">SPREAD THE WORD, SHARE OUR CAUSE</div>
            <div class="secondary">#FEAST4JESUS</div>
        </div>
        <br>
        <div class="email">
            Want To Nominate A Church? <a href="mailto:themcmassproject@gmail.com">Email Us!</a>
        </div>
        <br><br><br><br>

    </div>
</div>


