<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <ul>
        <% for(var i=0; i<subscribers.length; i++) {%>
            <li><%= subscribers[i] %></li>
        <% } %>
        </ul>
    </body>
</html>
