body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    margin: 0px;
    font-size: 1.0em;
    min-width: 1040px;
}
body.video{
    overflow: hidden;
}

.content {
    margin: 0 auto;
    width: 1024px;
}

.title {
    text-align: center;
    font-size: 5.0em;
    font-weight: 700;
    color: #FFD600;
    margin: 30px auto;
    letter-spacing: 3px;
}

header {
    height: 700px;
    width: 100%;
    background-color: red;
    color: white;
}

.top {
    width: 100%;
    height: 600px;
    padding-top: 20px;
}

.top .content {
    padding-top: 60px;
}

.top-right {
    width: 680px;
    margin-top: 40px;
    float: right;
}

.top-video-frame {
    padding-top: 40px;
    background-color: #ffd600;
    text-align: center;
    height: 400px;
}

.top-video-frame img {
    cursor: pointer;
}

.top-video-frame .video-text {
    font-size: 3.0em;
    color: red;
    font-weight: 600;
}

.top-left {
    width: 275px;
}

.top-logo img {
    width: 280px;
    height: 280px;
}

.top-description {
    font-size: 1.8em;
    text-align: left;
}

.video-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px; left: 0px;
    background-color: rgba(0,0,0,0.8);
    z-index: 2000;
    display: none;
}

.video-module {
    margin: auto;
    text-align: center;
    margin-top: 100px;
    width: 85%;
}

.close-video {
    cursor: pointer;
    background-color: red;
    border-radius: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 0 auto;
}
.close-video img {
    margin-top: 10px;
}

nav {
    background-color: red;
    line-height: 80px;
    height: 80px;
    font-size: 2.0em;
    font-weight: 700;
    width: 100%;
    z-index: 1000;
    letter-spacing: 2px;
}

nav.stick {
    position: fixed;
    top: 0;
}

.navlink-left {
    color: #FFD600;
    cursor: pointer;
    display: inline-block;
    margin-right: 70px;
}

.navlink-right {
    cursor: pointer;
    color: #FFD600;
    float: right;
}

.money {
    background-color: #ffd600;
    color: red;
    text-align: center;
    z-index: 1500;
    padding-bottom: 20px;
    position: relative;
}

.money .amount {
    font-size: 6.0em;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    letter-spacing: 10px;
}
.money .fact{
    font-size: 1.78em;
}

.money .buttons > div {  
    vertical-align: top;
    display: inline-block;
    width: 180px;
    height: 50px;
    font-size: 1.8em;
    line-height: 50px;
    color: white;
}

.money .buttons .donate {
    position: relative;
    background-color: #40CFF0;
    cursor: pointer;
}

.money .buttons .donate > img {
    position: absolute;
    left: 50%; margin-left: -74px;
    top: 50%; margin-top: -10.5px;
}

.money .buttons .share {
    margin-left: 60px;
    position: relative;
}

.money .buttons .share .options > div{
    display: inline-block;
    width: 60px;
    height: 50px;
    position: relative;
    cursor: pointer;
}
.money .buttons .share .options img {
    position: absolute;
    left: 50%; margin-left: -15px;
    top: 50%; margin-top: -15px;
}
        
.money .buttons .share .options .tumblr { background-color: #35465c; }
.money .buttons .share .options .facebook { background-color: #3b5998; }
.money .buttons .share .options .twitter { background-color: #4099FF; }

.infographic {
    width: 100%;
}

.different {
    position: relative;
    z-index: 1500;
    background-color: #ffd600;
    text-align: center;
    font-size: 2.6em;
    color: white;
    font-weight: 700;
    letter-spacing: 3px;
}

.different .main {
    font-size: 3.0em;
    color: red;
}

.solution {
    position: relative;
    z-index: 1500;
    width: 100%;
    background-color: red;
    color: white; 
    text-align: center;
    font-weight: 700;
    letter-spacing: 3px;
}

.solution .solution-title {
    font-size: 4.0em;
    margin: 30px auto;
}

.solution .solution-desc {
    font-size: 5.0em;
    margin: 30px auto;
}

.conclusion {
    background-color: #FFD600;
}

.conclusion .conclusion-title {
    width: 800px;
    margin: 0 auto;
    background-color: #FFD600;
    text-align: center;
    color: red;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 4.0em;
    font-weight: 700;
}

.conclusion .right {
    float: right;
    margin-right: 100px;
}

.conclusion .left {
    margin-left: 100px;
}

.conclusion .left,
.conclusion .right {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: 340px;
    text-align: center;
    font-size: 2.0em;
    color: #fff;
    background-color: red;
}

.conclusion-desc {
    font-size: 3.6em;
    color: red;
    font-weight: 700;
    text-align: center;
    margin: 30px auto;
}

.indiegogo {
    background-color: #40CFF0;
    text-align: center;
}

.indiegogo .text {
    color: white;
    font-size: 3.8em;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 300;
}
.indiegogo .text strong {
    font-weight: 700;
}

.indiegogo .text.yellow {
    color: #ffd600;
}
.indiegogo .button {
    cursor: pointer;
    background-color: white;
    letter-spacing: 5px;
    color: #40CFF0;
    font-size: 2.2em;
    height: 60px;
    line-height: 60px;
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
    text-align: center;
}

.subscribe {
    background-color: red;
    text-align: center;
    position: relative;
}

.subscribe .form > div {
    display: inline-block;
    vertical-align: top;
}

.subscribe .form input {
    padding-bottom: 10px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    width: 60%;
    height: 80px;
    font-size: 4.0em;
    border: 0 solid #fff;
    border-bottom: 3px solid #fff;
    background-color: red;
    color: white;
}
.subscribe .form input:focus {
    outline: 0;
}
.subscribe .form .submit {
    margin-left: 30px;
    background-color: white;
    width: 70px; height: 70px;
    border-radius: 50px;
    margin-top: 10px;
    line-height: 50px;
    color: red;
    font-size: 6.0em;
    cursor: pointer;
}

.subscribe .text {
    color: white;
    font-size: 2.0em;
}
::-webkit-input-placeholder {color: #ffd600;}
:-moz-placeholder { /* Firefox 18- */color: #ffd600;}
::-moz-placeholder {  /* Firefox 19+ */ color: #ffd600;}
:-ms-input-placeholder { color: #ffd600;}

.success {
    display: none;
    z-index: 100px;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 4px;
    width: 100%;
    height: 168px;
    font-size: 4.0em;
    position: absolute;
    top: 0px; left: 0px;
    background-color: #ffd600;
    color: red;
    text-align: center;
    padding-top: 70px;
}

.nominate {
    height: 238px;
    line-height: 238px;
    text-align: center;
    color: #666;
    font-size: 3.8em;
    font-weight: 600;
    letter-spacing: 3px;
}

.social {
    background-color: #ddd;
}

.social-box {
    width: 800px;
    margin: 0 auto;
    display:flex;
    justify-content:space-between;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.social-box > div {
    white-space:nowrap;
    background:gray;
    text-align: center;
    height: 60px;
    width: 230px;
    font-size: 1.2em;
    line-height: 60px;
    letter-spacing: 5px;
    cursor: pointer;
}

.social-box .tumblr { background-color: #35465c; }
.social-box .facebook { background-color: #3b5998; }
.social-box .twitter { background-color: #4099FF; }

.social-box .social-icon {
    margin-bottom: 7px;
    vertical-align: middle;
}

.social-box .social-icon,
.social-box .social-name {
    color: white;
    display: inline-block;
}

.social-text {
    letter-spacing: 3px;
    text-align: center;
    font-weight: 700;
    color: red;;
}

.social-text .main {
    font-size: 3.2em;
}

.social-text .secondary {
    font-size: 2.6em;
}

.email {
    text-align: center;
    font-size: 1.6em;
    letter-spacing: 1px;
}
.email a {
    text-decoration: none;
}

/* FAQ */
.faq {
}

.faq-title {
    color: red;    
    font-size: 4.0em;
    background-color: #ffd600;
    padding: 40px;
    z-index: 1500;
    position: relative;
}
.faq-title .text {
    margin-left: 120px;
}

.faq .section .number,
.faq .section .text {
    display: inline-block;
    vertical-align: top;
    font-size: 2.0em;
}

.faq .section .number {
    width: 100px;
}
.faq .section .number > div {
    width: 40px; height: 40px;
    line-height: 40px;
    font-size: 0.8em;
    margin-top: 6px;
    text-align: center;
    border-radius: 30px;
    font-family: 'Oswald', sans-serif;
    background-color: #ffd600;
    color: red;
}

.faq .section .text {
    float: right;
    width: 900px;
}

.faq .section .text .question {
    color: red;
}
.faq .section .text .answer {
    color: #666;
}

/* shop */
.shop-title {
    position: relative;
    z-index: 1500;
    background-color: #40CFF0;
}

.shop-title .text {
    color: white;
    font-size: 3.8em;
    text-align: center;
    letter-spacing: 3px;
    font-weight: 700;
}

.merch {
    text-align: center;
}

.hat, 
.shirt {
    width: 618px;
    margin: 0 auto;
}

.hat > .image ,
.shirt > .image {
    width: 413px;
}

.shirt > .image {
    height: 488px;
}

.hat > .options ,
.shirt > .options {
    width: 100%;
    margin: 0 auto;
    height: 180px;
}

.hat > .options img ,
.shirt > .options img {
    display: inline-block; 
    width: 129px;
    cursor: pointer;
    padding: 12px;
    border-bottom: 4px solid rgba(0,0,0,0);
}
.shirt > .options img {
    height: 152px;
}
.hat > .options img {
    height: 112px;
}
.hat > .options img.selected,
.shirt > .options img.selected {
    background-color: #ffd600;
}

.hat .options .red ,
.shirt .options .white,
.shirt .options .red  {
    display: inline-block;
}

.hat .text .main ,
.shirt .text .main {
    font-size: 3.8em;
    color: #ffd600; 
    font-weight: 700;
}

.hat .text .secondary ,
.shirt .text .secondary {
    font-size: 1.8em;
    color: #666;
}

.hat .buy ,
.shirt .buy {
    background-color: #40CFF0;
    color: red;;
    height: 80px;
    line-height: 80px;
    font-size: 3.0em;
    width: 70%;
    margin: 0 auto;
    cursor: pointer;
    font-weight: 700;
}

